.main_detail {
  padding-top: 25px;
}

#content-wrapper {
  display: flex;
  width: 50%;
}

.description__product {
  width: 50%;
}

.column {
  width: 600px;
  padding: 10px;
}

#featured {
  object-fit: cover;
  cursor: pointer;
  border: 2px solid black;
}

.thumbnail {
  object-fit: cover;
  max-width: 180px;
  max-height: 70px;
  cursor: pointer;
  opacity: 0.5;
  margin: 5px;
  border: 2px solid black;
}

.thumbnail:hover {
  opacity: 1;
}

.active {
  opacity: 1;
}

#slide-wrapper {
  max-width: 500px;

  min-height: 50px;
}

#slider {
  display: flex;

  flex-direction: column-reverse;
}

#slider::-webkit-scrollbar {
  width: 8px;
}

#slider::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#slider::-webkit-scrollbar-thumb {
  background-color: #dede2e;
  outline: 1px solid slategrey;
  border-radius: 100px;
}

#slider::-webkit-scrollbar-thumb:hover {
  background-color: #18b5ce;
}

.arrow {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: 0.3s;
}

.arrow:hover {
  opacity: 0.5;
  width: 35px;
  height: 35px;
}

/* style of info product */

.title_product {
  font-size: 26px;
  font-family: roboto;
  margin-top: 0;
}

.description_product {
  margin-top: 00;
  color: #929292;
}

.title_price {
  border-bottom: 1px solid #b5b5b5;
  padding-bottom: 5px;
}

.price_internet {
  display: flex;
  justify-content: space-between;
}

.puntos__internet {
  display: flex;
  justify-content: space-between;
}

.colors__product {
  border-bottom: 1px solid #b5b5b5;
  padding-bottom: 10px;
  margin-top: 10px;
}

.colors__product-title {
  font-size: 19px;
  color: #5710b5;
  margin-bottom: 5px;
  font-weight: 500;
}

.color-type {
  display: flex;
}

.style-color {
  padding: 10px 15px 10px 15px;
  border: 1px solid black;
  margin: 0 5px;
  min-width: 100px;
  text-align: center;
}

.talla__product {
  border-bottom: 1px solid #b5b5b5;
  padding-bottom: 10px;
  margin-top: 10px;
}
.talla___product-title {
  font-size: 19px;
  color: #5710b5;
  margin-bottom: 5px;
  font-weight: 500;
}

.talla-type {
  display: flex;
}

.style-talla {
  padding: 10px 15px 10px 15px;
  border: 1px solid black;
  margin: 0 5px;
  text-align: center;
}
.btn_compra_quanty {
  display: grid;
  grid-template-columns: 25% 75%;
  padding-top: 24px;
}

.btn-add {
  display: contents;
}

.modal-detail {
  display: flex;
  justify-content: space-between;
}

.content_color-talla {
  display: flex;
  justify-content: space-between;
}

.color-talla-defa {
  width: 50%;
  margin: 0 5px;
}
