.link-nav {
  display: flex;
  align-items: center;
  padding: 5px;
  text-decoration: none;
  color: white;
}
.link-nav a {
  text-decoration: none;
  color: white;
}

.MuiAppBar-colorPrimary {
  color: #fff;
  background-color: #172575;
}
